.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.tip{
  text-align: left;
  margin: 0 auto 30px;
}

#dir-input{
  width: calc(100% - 2.4em);
}

#digit{
  margin-right: 20px;
}
